* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(33, 35, 36);
}

header {
    display: flex;
    flex-direction: column;
    height: 52px;
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    height: 80%;
    background-image: linear-gradient(to bottom right, #473ee9,#e53a9e);
}

#neonBar {
    background-image: linear-gradient(#e53a70,white,#e53a8f);
    box-shadow: 0px 0px 5px 3px rgb(253, 0, 190);
    height: 10%;
    width: 100%;
    z-index: 10;
}

h1 {
    display: flex;
    font-family: 'Ubuntu';
    margin-left: 1rem;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0px 0px 5px #000000;
    align-items: center;
    padding-left: 0.25rem;
    height: 100%;
    width: 150px;
}

#navMenu {
    height: 100%;
}

main {
    display: flex;
    margin-top: 5rem;
    height: 93%;
    background-color: rgb(33, 35, 36);
}

#mainContainer {
    width: 100%;
    margin-left: 2rem;
    flex-direction: column;
}

#mainTop {
    margin-left: ;
    width: 100%;
    height: 80%;
}

#personalContainer {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: auto;
}

#personTop {
    height: 50%;
    width: 100%;
}

#profilePicture {
    display: flex;
    height: 100%;
    width: 35%;
    max-width: 20rem;
}

#proPic {
    border-radius: 50%;
    box-shadow: 0px 0px 12px 3px rgba(253, 0, 190, 0.637);
    margin-top: 1rem;
    margin-left: 1rem;
    height: 80%;
    width: 90%;
}

#sumContainer {
    height: 100%;
    width: 65%;
}

#sumText {
    margin: 1rem;
    font-style: 1rem;
    color: white;
}

#contactContainer {
    border-left: 5px solid pink;
    height: 200%;
    width: 25%;
    max-width: 225px;
    overflow: auto;
}

#personBottom {
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#ghBadgeContainer {
    border: 2px solid palegoldenrod;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#liBadgeContainer {
    border: 2px solid white;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 0px 10px 7px rgb(253, 0, 190, 0.637);
    background-color: #2b2d2e;
    height: 300px;
    width: 225px;
}

#test {
    width: 100%;
    height: 70%;
}

#mainBottom {
    width: 100%;
    height: 30%;
}

footer {
    height: 7%;
    background-color: rgb(43, 45, 46);
}