* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(33, 35, 36);
}

header {
    display: flex;
    flex-direction: column;
    height: 52px;
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    height: 80%;
    background-image: linear-gradient(to bottom right, #473ee9,#e53a9e);
}

#neonBar {
    background-image: linear-gradient(#e53a70,white,#e53a8f);
    box-shadow: 0px 0px 5px 3px rgb(253, 0, 190);
    height: 10%;
    width: 100%;
    z-index: 10;
}

h1 {
    display: flex;
    font-family: 'Ubuntu';
    color: white;
    font-size: 1.2rem;
    text-shadow: 0px 0px 5px #000000;
    align-items: center;
    padding-left: 0.25rem;
    height: 100%;
    width: 150px;
}

#navMenu {
    height: 100%;
}

main {
    display: flex;
    margin-top: 60px;
    height: 93%;
    background-color: rgb(33, 35, 36);
}

#mainContainer {
    width: 100%;
    flex-direction: column;
}

#mainTop {
    width: 100%;
    height: 70%;
}

#personalContainer {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 75%;
}

#personTop {
    height: 50%;
    width: 100%;
}

#profilePicture {
    display: flex;
    height: 100%;
    width: 35%;
}

#proPic {
    border-radius: 50%;
    box-shadow: 0px 0px 12px 3px rgba(253, 0, 190, 0.637);
    margin-top: 1rem;
    margin-left: 1rem;
    height: 80%;
    width: 90%;
}

#sumContainer {
    height: 100%;
    width: 65%;
}

#sumText {
    margin: 1rem;
    font-style: 1rem;
    color: white;
}

#contactContainer {
    border: 2px solid yellow;
    height: 100%;
    width: 25%;
}

#personBottom {
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#ghBadgeContainer {
    border: 2px solid palegoldenrod;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#liBadgeContainer {
    border: 2px solid white;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#mainBottom {
    width: 100%;
    height: 30%;
}

footer {
    height: 7%;
    background-color: rgb(43, 45, 46);
}