/* -Globals- */
* {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --main: rgb(24, 25, 26);
    --alt: rgb(44, 45, 47);
    --sec: rgba(255, 255, 255, 0.386);
}

.container {
    display: flex;
    align-items: center;
}

/* --------------------------------------------------------------------------------------------------- */
/* -Body- */
body {
    height: 100vh;
    width: 100%;
    background-color: var(--main);
}

#bodyContainer {
    height: 100%;
    width: 100%;
}

#mfContainer {
    height: 100%;
    width: 90%;
    flex-direction: column;
}

/* --------------------------------------------------------------------------------------------------- */
/* -Header- */
header {
    position: sticky;
    height: 100%;
    width: 15%;
    background-color: var(--alt);
    z-index: 1;
}

#headContainer {

}

/* Nav */
nav {
border: 2px solid yellow;
}

#navContainer {

}

/* --------------------------------------------------------------------------------------------------- */
/* -Main- */
main {
    height: 95%;
    width: 100%;
}

#mainContainer {
    border: 2px solid green;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

/* Main Top */
#mainTop {
    height: 50%;
    width: 100%;
    background-color: var(--sec);
}

/* Main Bottom */ 
#mainBottom {
    height: 50%;
    width: 100%;

}

/* --------------------------------------------------------------------------------------------------- */
/* -Footer- */
footer {
    border: 2px solid red;
    height: 5%;
    width: 100%;
}

#footContainer {

}